
.input {
  height: 40px;
  width: 200px;
  margin-top: 0.1rem;
  margin-bottom: 0.5rem;
  margin-left: 3rem;
  border: none;
  background-color: #e8f7fc;
  border-radius: 70px;
  text-indent: 1rem;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  font-family: 'Libre Baskerville', serif;
  font-size: 12px;
}
.btn {
  height: 35px;
  width: 80px;
  background-color: #bae7f6;
  border: none;
  border-radius: 70px;
  overflow: hidden;
  z-index: 1;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  font-family: 'Libre Baskerville', serif;
  font-size: 12px;
  cursor: pointer;
  margin-left: 3rem;
}
.btn:hover {
  background-color: #8dd7f0;
  transition: all .3s ease-in-out;
}

.table {
  width: 24rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: center;
  margin-left: 2rem;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.t {
  border: 0.5px rgba(0,0,0,0.04) solid;
}
.infodiv {
  display: flex;
  /* flexbox */
  flex-direction: row;
}
.allergy {
  margin-top: 5rem;
}
