.whole {
  height: 14rem;
  width: 21rem;
  background-color: #fef7f3;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  padding: 1rem;
  margin: 1rem;
}

.trash {
  display: flex;
  position: relative;
  float: right;
}
.trash:hover {
  color: #ee7f43;
  cursor: pointer;  
}
.delete {
  border: none;
  background-color: #fef7f3;
  cursor: pointer;
}

@media screen and (max-width: 850px) {
  .whole {
    height: 14rem;
    width: 18rem;
  }
}
