.section {
  display: flex;
  flex-wrap: wrap;
  padding-left: 9rem;
  padding-top: 2rem;
  width: 80%;
}
.empty {
  display: none;
}

@media screen and (max-width: 850px) {
  .section {
    margin-left: 0;
    padding-left: 2rem;
    width: 100%;
  }
}