.img {
  height: 700px;
  width: 800px;
  margin-top: 1rem;
}
.container {
  display: flex;
  padding-left: 10rem;
  padding-top: 5rem;
}
.p {
  font-size: 23px;
}
.h1 {
  font-size: 74px;
}

.btn {
  height: 40px;
  width: 180px;
  background-color: #bae7f6;
  border: none;
  border-radius: 70px;
  overflow: hidden;
  z-index: 1;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  font-family: 'Libre Baskerville', serif;
  font-size: 12px;
  cursor: pointer;
  margin-left: 1rem;
  margin-top: 2rem;
}
.btn:hover {
  background-color: #8dd7f0;
  transition: all .3s ease-in-out;
}

@media screen and (max-width: 1350px) {
  .container {
    padding-left: 6rem;
  }
}
@media screen and (max-width: 1200px) {
  .h1 {
    font-size: 65px;
  }
  .p {
    font-size: 20px;
  }
}
@media screen and (max-width: 295px) {
  .container {
    display: flexbox;
    flex-wrap: wrap;
    padding-top: 0;
  }
  .img {
    margin-left: -6rem;
    height: 500px;
    width: 600px;
  }
  .h1 {
    font-size: 50px;
  }
  .p {
    margin-right: 0;
    padding-right: 0;
    font-size: 18px;
  }
}