.whole {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 1rem;
}
.form {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.input {
  height: 40px;
  width: 200px;
  margin-right: 1rem;
  margin-left: 1rem;
  margin-top: 0.1rem;
  margin-bottom: 2rem;
  border: none;
  background-color: #e8f7fc;
  border-radius: 70px;
  text-indent: 1rem;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  font-family: 'Libre Baskerville', serif;
  font-size: 12px;
}
.btn {
  height: 35px;
  width: 80px;
  background-color: #bae7f6;
  border: none;
  border-radius: 70px;
  overflow: hidden;
  z-index: 1;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  font-family: 'Libre Baskerville', serif;
  font-size: 12px;
  cursor: pointer;
  margin-left: 1rem;
}
.btn:hover {
  background-color: #8dd7f0;
  transition: all .3s ease-in-out;
}

@media screen and (max-width: 850px) {
  .inputContainer {
    margin-left: 0;
    padding-left: 0;
    margin-right: 0;
    padding-right: 0;
    text-align: center;
  }
  .input {
    margin-left: 0;
    padding-left: 0;
    display: flex;
    margin-right: 0;
    padding-right: 0;
    text-align: center;
    padding-top: 0;
    margin-top: 0;
  }
  .whole, .form {
    padding-left: 0;
    margin-right: 0;
    padding-right: 0;
    float: left;
    margin-left: 20%;
    display: inline-flex;
    align-self: center;
  }
}