.appForm, .appSection {
  font-family: 'League Spartan', sans-serif;
}
.appForm {
  padding-top: 8rem;
  padding-left: 10rem;
  display: flex;
}
.appSection {
  display: flex;
  padding-left: 9rem;
  flex-wrap: wrap;
}