.li {
  list-style: none;
  display: flex;
  align-items: center;
  height: 5rem;
  margin-top: 20px;
}

.a {
  text-decoration: none;
}

.nav {
  color: black;
  background-color: #fde5d7;
  margin: 0;
  margin-top: -25px;
  padding: 0;
  width: 6.5rem;
  height: 105vh;
  float: left;
  display: flex;
  flex-direction: column;
  align-items: left;
  transition: width 300ms ease;
  font-family: 'League Spartan', sans-serif;
  font-weight: 500;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.nav:hover {
  width: 14rem;
}  
.nav:hover .span {
  display: inline-flex;
}  

.span {
  display: none;
  margin-left: 25px;
  font-size: 25px;
  color: black;
}   
.appointment {
  font-size: 17px;
  margin-left: 16px;
}  

.icon {
  height: 24px;
  width: 24px;
  color: black;
  position: relative;
  top: 4px;
}  
.icon:hover {
  color: #ee7f43;
}  
.div:hover {
  background-color: white;
  padding: 1rem;
  border-radius: 70px;
}
.div {
  position: absolute;
}


/* media queries for small screen  */
@media screen and (max-width: 1350px) {
  .nav {
    margin-right: 1rem;
  }
  .nav:hover {
    width: 6.5rem;
  }
  .span {
    display: none;
    color: transparent;
  }
  .span:hover {
    display: none;
    color: transparent;
  }
}

@media screen and (max-width: 830px) {
  .nav {
    display: flex;
    flex-direction: row;
    /* position: absolute; */
    top: 0;
    width: 100vw;
    height: 7rem;
    padding-left: 0;
  }
  .nav:hover {
    width: 100vw;
    height: 7rem;
  }
  .ul {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    padding-left: 0;
  }
  .li {
    margin-left: 0;
    padding-left: 0;
  }
  .icon {
    height: 30px;
    width: 30px;
  }
  .span {
    display: none;
  }
  .span:hover {
    display: none;
  }
  .div:hover {
    background-color: #fde5d7;
    padding: 0;
  }
}

