.li {
  list-style: none;
  display: flex;
  align-items: center;
  height: 5rem;
  margin-top: 20px;
  /* font size */
  /* font family */
}

.a {
  text-decoration: none;
}

.nav {
  color: black;
  background-color: #fde5d7;
  margin: 0;
  margin-top: -11px;
  padding: 0;
  width: 6.5rem;
  height: 100vh;
  float: left;
  display: flex;
  flex-direction: column;
  align-items: left;
}

.span {
  display: none;
}

.icon {
  height: 25px;
  width: 25px;
  color: black;
}
.icon:hover {
  color: #ee7f43;
}