.div {
  display: flex;
  padding-top: 3rem;
  font-family: 'League Spartan', serif;
}
.whole {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 44rem;
  width: 75rem;
  background-color: #fef7f3;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  padding: 2rem;
  padding-left: 1rem;
  margin-left: 8rem;
}
.intro {
  font-size: 20px;
  text-align: center;
}
.h1 {
  font-size: 50px;
}
.btn {
  height: 38px;
  width: 95px;
  background-color: #bae7f6;
  border: none;
  border-radius: 70px;
  overflow: hidden;
  z-index: 1;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  font-family: 'Libre Baskerville', serif;
  font-size: 12px;
  cursor: pointer;
  margin-left: 1rem;
}
.btn:hover {
  background-color: #8dd7f0;
  transition: all .3s ease-in-out;
}


@media screen and (max-width: 850px) {
  .div {
    display: flexbox;
    margin-left: 0;
    padding-left: 0;
    padding-top: 1rem;
    float: left;
  }
  .whole {
    margin-left: 1rem;
    margin-right: 1rem;
    display: flexbox;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 100%;
    width: 90%;
  }
}