.div {
  display: flex;
  padding-top: 3rem;
}
.whole {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 44rem;
  width: 75rem;
  background-color: #fef7f3;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  padding: 2rem;
  padding-left: 4rem;
  margin-left: 8rem;
}

.btn {
  height: 38px;
  width: 95px;
  background-color: #bae7f6;
  border: none;
  border-radius: 70px;
  overflow: hidden;
  z-index: 1;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  font-family: 'Libre Baskerville', serif;
  font-size: 12px;
  cursor: pointer;
  margin-left: 1rem;
}
.btn:hover {
  background-color: #8dd7f0;
  transition: all .3s ease-in-out;
}
