.li {
  font-size: 15px;
  margin-left: 15px;
  display: inline-block;
}
.word_li {
  display: inline-block;
  vertical-align: middle;
  margin-top: -41px;
}
.ul {
  align-items: center;
}
.whole {
  width: auto;
  display: flexbox;
  float: right;
  background-color: #fde5d7;
  margin-right: 2%;
  border-radius: 70px;
  margin-top: 1rem;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  z-index: 999;
}

.avatar {
  height: 3rem;
  width: 3rem;
  margin-right: 1rem;
  margin-left: 1rem;
}

.span {
  color: black;
  font-family: 'League Spartan', sans-serif;
  font-weight: 500;
}
.span:hover {
  color: #ee7f43;
}

@media screen and (max-width: 1165px) {
  .whole {
    display: none;
  }
}